<li class="{% if include.featured %}featured-{% endif %}artist">
  <div class="artist-photo">
    <img src="/images/artists/{{ include.artist.filename }}" alt="{{ include.artist.name }}" />
    <div class="artist-bio">
      {{ include.artist.bio }}
      <span class="artist-website">
        <a target="_blank" href="{{ include.artist.url }}">website</a>
      </span>
    </div>
  </div>
  <p class="artist-name">
    <a target="_blank" href="{{ include.artist.url }}">{{ include.artist.name }}</a>
  </p>
</li>
