<li class="{% if page.headliners contains include.artist.name %}featured-{% endif %}artist{% if include.concealed %} concealed end{% endif %}">
  <div class="artist-photo">
    {% if page.headliners contains include.artist.name %}
    <img src="/images/artists/{{ include.artist.landscape }}" alt="{{ include.artist.name }}" />
    {% else %}
    <img src="/images/artists/{{ include.artist.portrait }}" alt="{{ include.artist.name }}" />
    {% endif %}
    <div class="artist-bio">
      {{ include.artist.bio }}
      <span class="artist-website">
        <a target="_blank" href="{{ include.artist.url }}">website</a>
      </span>
    </div>
  </div>
  <p class="artist-name">
    <a target="_blank" href="{{ include.artist.url }}">{{ include.artist.name }}</a>
  </p>
</li>
