{% assign now = site.time | date: '%s' %}
{% assign datetime = '1469314800' | date: '%s' %}

<dl class="dates">
  {% unless now > datetime %}
  <dt><time datetime="2016-07-23">July 23</time></dt>
  <dd>
    Denver, CO<br>
    <a href="/denver-co/" class="button">Free tickets!</a>
  </dd>
  {% endunless %}
  {% assign datetime = '1469912400' | date: '%s' %}
  {% unless now > datetime %}
  <dt><time datetime="2016-07-30">July 30</time></dt>
  <dd>
    San Diego, CA <br>
    <a href="/san-diego-ca/" class="button">Free tickets!</a>
  </dd>
  {% endunless %}
  {% assign datetime = '1471636800' | date: '%s' %}
  {% unless now > datetime %}
  <dt><time datetime="2016-08-19">August 19</time></dt>
  <dd>
    Seattle, WA <br>
    <a href="/seattle-wa/" class="button">Free tickets!</a>
  </dd>
  {% endunless %}
  {% assign datetime = '1471723200' | date: '%s' %}
  {% unless now > datetime %}
  <dt><time datetime="2016-08-20">August 20</time></dt>
  <dd>
    Portland, OR <br>
    <a href="/portland-or/" class="button">Free tickets!</a>
  </dd>
  {% endunless %}
  {% assign datetime = '1473465600' | date: '%s' %}
  {% unless now > datetime %}
  <dt><time datetime="2016-09-09">September 9</time></dt>
  <dd>
    San Francisco, CA<br>
    <a href="/san-francisco-ca/" class="button">Free tickets!</a>
  </dd>
  {% endunless %}
    <dt><time datetime="2016-09-09">September 16</time></dt>
  <dd>
    Toronto, ON<br><p style="font-size:12px;">Canadian Rock Against the TPP solidarity event</p>
    <a href="https://act.openmedia.org/rocktpp/" target="_blank" class="button">Free tickets!</a>
  </dd>

  <dt><time datetime="2016-09-09">October 7</time></dt>
  <dd>
    Boston, MA<br>
    <a href="/boston-ma/" class="button">Free tickets!</a>
  </dd>

</dl>
