<dl class="dates">
  {% unless page.location == 'Denver, CO' %}
  <dt><time datetime="2016-07-23">July 23</time></dt>
  <dd>
    Denver, CO<br>
    <a href="/denver-co/" class="button">Free tickets!</a>
  </dd>
  {% endunless %}
  {% unless page.location == 'San Diego, CA' %}
  <dt><time datetime="2016-07-30">July 30</time></dt>
  <dd>
    San Diego, CA <br>
    <a href="/san-diego-ca/" class="button">Free tickets!</a>
  </dd>
  {% endunless %}
  {% unless page.location == 'Seattle, WA' %}
  <dt><time datetime="2016-08-19">August 19</time></dt>
  <dd>
    Seattle, WA <br>
    <a href="/seattle-wa/" class="button">Free tickets!</a>
  </dd>
  {% endunless %}
  {% unless page.location == 'Portland, OR' %}
  <dt><time datetime="2016-08-20">August 20</time></dt>
  <dd>
    Portland, OR <br>
    <a href="/portland-or/" class="button">Free tickets!</a>
  </dd>
  {% endunless %}
</dl>
