---
page: home
location: Denver, CO
share_image: /images/share/home.png
share_image_dims: 1234 x 1234
social_title: 'Rock Against the TPP!'
social_description: 'Your favorite artists are teaming up to stop the corporate takeover known as the Trans-Pacific Partnership.'
twittertext: Your favorite artists are teaming up to #RockAgainstTheTPP! Stop the #TPP corporate takeover RockAgainstTheTPP.org
---

{% include form.html %}

<section>
  <h2 id="lineup">
    BREAKING: Line-up announced for Rock Against the TPP kick-off in Denver July
    23rd!
  </h2>

  {% for post in site.posts %}
  {% if post.location == page.location %}
  <ul class="artists">
    {% assign artist=site.data.artists[post.headliner] %}
    {% include artist.html artist=artist featured=true %}
    {% for performer in post.performers %}{% assign artist=site.data.artists[performer] %}
    {% include artist.html artist=artist %}{% endfor %}
  </ul>
  {% endif %}{% endfor %}
</section>

<section>
  <h2 id="whats-going-on">What&rsquo;s going on?</h2>

  <p>
    Congress is about to decide the fate of the Trans-Pacific Partnership
    (TPP), an anti-democratic deal between 12 countries that was negotiated in
    complete secrecy by government officials and hundreds of corporate
    lobbyists. If it becomes law, the TPP would be the largest deal of its kind
    in history, and it poses a grave threat to
    <a href="http://www.citizenstrade.org/ctc/blog/2015/11/07/how-the-tpp-harms-jobs-the-environment/">good-paying
      jobs</a>, <a href="https://www.eff.org/issues/tpp">internet freedom</a>,
    the <a href="http://www.sierraclub.org/trade/trans-pacific-partnership">environment</a>,
    <a href="http://www.msfaccess.org/spotlight-on/trans-pacific-partnership-agreement">access
      to medicine</a>, <a href="http://www.citizen.org/tpp-food-safety-facts">food
    safety</a>, and the future of
    <a href="http://blog.wikimedia.org/2016/02/03/tpp-problematic-partnership/">freedom
      of expression</a>.
  </p>

  <h2 id="what-can-we-do">What can we do about it?</h2>
  <p>
    The TPP text has already been finalized, but before it becomes law, U.S.
    Congress must approve it. With all the
    <a href="http://www.theguardian.com/media-network/2015/may/08/trans-pacific-partnership-obama-irony">extreme
      secrecy</a> and blatant
    <a href="http://www.telesurtv.net/english/news/TPP-Protesters-Alarmed-by-Corruption-Urge-Leaders-Not-to-Sign-20160129-0029.html">corruption</a>
    surrounding this deal, it&rsquo;s not hard to see why voters from across the
    political spectrum overwhelmingly oppose it. Even all the leading
    presidential candidates are
    <a href="https://www.citizen.org/documents/presidential-candidates-TPP.pdf">against
      it!</a> But pro-TPP members of Congress are
    <a href="http://www.nytimes.com/2016/06/02/business/trans-pacific-partnership-supporters-pin-hopes-on-lame-duck-vote.html?_r=0">still
      plotting</a> to rush the TPP to a vote this Fall. They want to do it
    quietly. <strong>That&rsquo;s why we need to get loud.</strong>
  </p>

  <h3 id="what-is-rock-against-tpp">
    What is Rock Against the TPP?
  </h3>

  <p>
    Rock Against the TPP is a massive effort to sound the alarm about the toxic
    backroom deal that is the Trans-Pacific Partnership. Through a series of
    large-scale educational concert events, protests, teach-ins, and trainings,
    we&rsquo;ll reach thousands of people who haven&rsquo;t heard about the TPP
    yet, and ignite a movement to stop it in its tracks. The tour is a
    partnership between viral internet freedom nonprofit
    <a href="http://fightforthefuture.org/">Fight for the Future</a> and
    <a href="http://firebrandrecords.com/">Firebrand Records</a>, the new
    freedom fighting record label co-founded by Ryan Harvey and Tom Morello.
  </p>
</section>

<section>
  <h2 id="tour-kick-off">Tour Kick-Off!</h2>

  <div class="featured-date">
    <div class="meta">
      <time datetime="2016-07-23">July 23-24</time>
      <p class="location">Denver, CO</p>
      <a href="{% post_url 2016-05-29-denver-co %}">Get info</a>
    </div>

    <p class="acts">
      Tom Morello, Evangeline Lilly, Anti-Flag (acoustic), Jonny 5 & Brer Rabbit
      of Flobots, Downtown Boys, Ryan Harvey, Evan Greer, Taina Asili, Son of
      Nun, Lia Rose, and more!
    </p>
  </div>
</section>

<section>
  <h2 id="tour-dates">Tour dates</h2>

  <p>
    Details for the following Rock Against the TPP tour stops are still TOP SECRET. Check soon back for updates!
  </p>

  <dl class="dates">
    <dt><time datetime="2016-07-29">July 29-30</time></dt>
    <dd>San Diego, CA</dd>
    <dt><time datetime="2016-08-05">August 5-6</time></dt>
    <dd>Los Angeles, CA</dd>
    <dt><time datetime="2016-08-12">August 12-13</time></dt>
    <dd>San Francisco, CA</dd>
    <dt><time datetime="2016-08-18">August 18-19</time></dt>
    <dd>Seattle, WA</dd>
    <dt><time datetime="2016-08-20">August 20-12</time></dt>
    <dd>Portland, OR</dd>
    <dt><time datetime="2016-09-24">September 24-25</time></dt>
    <dd>Boston, MA</dd>
  </dl>
</section>

<section>
  <h2 id="organized-by">Rock Against the TPP is organized by:</h2>

  <ul class="organized-by">
    <li class="fight-for-the-future">Fight for the Future</li>
    <li class="firebrand-records">Firebrand Records</li>
  </ul>
</section>

<section>
  <h2 id="support-orgs">
    The Following organizations are supporting Rock Against the TPP:
  </h2>

  <style type="text/css" scoped>
    {% for org in site.data.affiliated_orgs.support %}
    .{{ org | slugify }} {
      background-image: url('/images/endorsements/{{ org | slugify }}.png');
    }
    {% endfor %}
  </style>

  <ul class="org-logos">
    {% for org in site.data.affiliated_orgs.support %}
    <li class="logo {{ org | slugify }}">{{ org }}</li>
    {% endfor %}
  </ul>
</section>

<section>
  <h3 id="endorsed-orgs">
    Organizations endorsing Rock Against the TPP:
  </h3>

  <p>
    Full list of endorsing organizations coming soon.
    <a href="mailto:team@fightforthefuture.org">Email us</a> to get involved in
    Rock Against the TPP!
  </p>

  <style type="text/css" scoped>
    {% for org in site.data.affiliated_orgs.endorse %}
    .{{ org | slugify }} {
      background-image: url('/images/endorsements/{{ org | slugify }}.png');
    }
    {% endfor %}
  </style>

  <ul class="org-logos">
    {% for org in site.data.affiliated_orgs.endorse %}
    <li class="logo {{ org | slugify }}">{{ org }}</li>
    {% endfor %}
  </ul>
</section>
