.artists {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: @heading-font-bold;
  margin: 0 auto;
  max-width: 88rem;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: @large-phone) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.artist, .featured-artist {
  background-repeat: no-repeat;
  display: table;
  height: 29.1rem;

  a {
    color: @white;
  }

  img {
    border: none;
    max-width: none;
    width: 101%;
  }
}

.featured-artist {
  background-position: 77% center;
  box-shadow: -3px 3px 0 0 @grey-200;
  font-size: 3rem;
  margin: 2rem;
  margin-bottom: 6rem;
  max-width: 88rem;
  position: relative;
  width: ~'calc(100% - 4rem)';

  @media screen and (min-width: @large-phone) {
    margin-bottom: auto;
  }

  img {
    display: block;
    position: absolute;
    height: 30rem;
    left: auto;
    right: -25%;
    width: auto;

    @media screen and (min-width: @small-phone) {
      right: 0;
    }

    @media screen and (min-width: @small-tablet) {
      height: auto;
      width: 100%;
    }
  }

  .artist-name {
    line-height: 1;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: -4rem;
    left: 0;
    text-shadow: 0 0 1rem black;
    vertical-align: middle;
    z-index: 10;

    @media screen and (min-width: @large-phone) {
      height: 0;
      top: 50%;
      left: 2px;
    }

    @media screen and (min-width: @small-tablet) {
      top: 14.5rem;
      left: 8rem;
    }
  }

  .artist-photo {
    height: 30rem;
    overflow: hidden;
  }

  .artist-bio {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.artist {
  margin: 2rem 0 5rem;
  max-width: 27rem;
  overflow: hidden;
  width: 63vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2rem;
  height: ~'calc(51.875vw + 14.8rem)';
  line-height: 1;
  font-size: 1.7rem;

  @media screen and (min-width: @small-phone) {
    height: 38rem;
  }

  @media screen and (min-width: @large-phone) {
    font-size: 1.8rem;
    width: 44%;
  }

  @media screen and (min-width: @small-tablet) {
    width: 30%;
  }

  img {
    position: relative;
    left: -1px;
    right: -1px;
    width: 101%;
  }

  .artist-name {
    margin: 1rem 0 0;
  }
}

.artist-photo {
  position: relative;
}

.artist-bio {
  background: fade(@black, 60%);
  font-family: @body-font;
  font-size: 1.8rem;
  opacity: 0;
  padding: 3rem 3rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  text-transform: initial;
  transition: opacity 200ms;

  &:hover {
    @media screen and (min-width: @large-phone) {
      opacity: 1;
    }
  }
}

.artist-name {
  text-align: left;
}

.artist-website {
  font-variant: small-caps;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  text-decoration: underline;
}

.dates {
  display: flex;
  flex-wrap: wrap;
  font-size: ~'calc(4vw + 3px)';
  justify-content: center;

  @media screen and (min-width: @large-phone) {
    font-size: 3rem;
    margin: 0 auto;
    max-width: 50rem;
  }

  dd, dt {
    border-top: solid 1px fade(@white, 20%);
    padding: 1rem;
    width: 49%;
  }

  dt {
    color: @red-800;
    text-align: right;

    &::after {
      content: ': ';
    }
  }

  dd {
    text-align: left;
  }

  a {
    color: inherit;
  }
}

.organized-by {
  align-items: center;
  color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: @large-phone) {
    flex-direction: row;
  }

  li {
    background: center center no-repeat;
    background-size: contain;
    margin: 1rem;
    max-width: 100%;
  }

  .fight-for-the-future {
    background-image: url('/images/fight-for-the-future.png');
    height: 3.3rem;
    width: 25.6rem;

    @media screen and (min-width: @small-phone) {
      height: 4.4rem;
      width: 34.2rem;
    }
  }

  .firebrand-records {
    background-image: url('/images/firebrand-records.png');
    height: 16rem;
    width: 16rem;
  }
}

.org-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  background-color: @white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 90% auto;
  border-radius: 4px;
  color: transparent;
  height: 8rem;
  margin: 2rem;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 20rem;
}
