.artists {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: @heading-font-bold;
  margin: 0 auto;
  max-width: 88rem;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: @large-phone) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.artist, .featured-artist {
  background-repeat: no-repeat;
  display: table;
  height: 29.1rem;

  img {
    border: none;
    display: block;
    max-width: none;
    position: absolute;
    left: -1px;
    right: -1px;
    width: 101%;
  }

  .artist-name {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
  }
}

.featured-artist {
  background-position: 77% center;
  box-shadow: -3px 3px 0 0 @grey-200;
  font-size: 3rem;
  margin: 2rem;
  max-width: 88rem;
  overflow: hidden;
  position: relative;
  width: ~'calc(100% - 4rem)';

  img {
    height: 30rem;
    left: auto;
    right: -25%;
    width: auto;

    @media screen and (min-width: @small-phone) {
      right: 0;
    }

    @media screen and (min-width: @small-tablet) {
      height: auto;
      width: 100%;
    }
  }

  .artist-name {
    line-height: 1;
    bottom: 0;
    text-align: center;
    text-shadow: 0 0 1rem black;
    vertical-align: middle;

    @media screen and (min-width: @small-phone) {
      bottom: 1rem;
    }

    @media screen and (min-width: @large-phone) {
      top: 50%;
      right: auto;
      bottom: auto;
      left: 2vw;
    }

    @media screen and (min-width: @small-tablet) {
      top: 14.5rem;
      left: 8rem;
    }
  }

  .artist-bio {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.artist {
  font-size: 1.8rem;
  height: calc(47.5vw + 9.2rem);
  margin: 2rem 0 5rem;
  max-width: 27rem;
  overflow: hidden;
  position: relative;
  width: 63vw;

  @media screen and (min-width: @large-phone) {
    height: 32rem;
    width: 44%;
  }

  @media screen and (min-width: @small-tablet) {
    width: 30%;
  }
}

.artist-name {
  bottom: 3px;
}

.artist-bio {
  background: fade(@black, 60%);
  font-family: @body-font;
  font-size: 1.8rem;
  opacity: 0;
  padding: 3rem 3rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  text-transform: initial;
  transition: opacity 200ms;

  &:hover {
    @media screen and (min-width: @large-phone) {
      opacity: 1;
    }
  }
}

.featured-date {
  border: solid 1px fade(@white, 47%);
  border-radius: 1rem;
  color: @white;
  overflow: hidden;

  .meta {
    align-items: center;
    background-color: fade(@white, 10%);
    display: flex;
    flex-wrap: wrap;
    font-size: 4.7rem;
    justify-content: center;
    padding: 2rem 0;
  }

  time {
    color: @red-800;
    margin: 0 1rem;

    &::after {
      content: ': ';
    }
  }

  .location {
    margin: 0 1rem;
  }

  a {
    background-color: @red-800;
    border-radius: 2.5rem;
    font-size: 1.6rem;
    height: 4.5rem;
    margin: 0 1rem;
    padding: 1rem 2rem;
    text-transform: uppercase;

    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }

  .acts {
    background-color: fade(@white, 5%);
    font-size: 2rem;
    margin: 0;
    max-width: 100%;
    padding: 2rem;
    width: 100%;

    &::before {
      color: lighten(@black, 48%);
      content: 'Featuring:'
    }
  }
}

.dates {
  display: flex;
  flex-wrap: wrap;
  font-size: ~'calc(4vw + 3px)';
  justify-content: space-around;

  @media screen and (min-width: @large-phone) {
    font-size: 3rem;
  }

  dd, dt {
    width: 49%;
  }

  dt {
    color: @red-800;
    text-align: right;

    &::after {
      content: ': ';
    }
  }

  dd {
    text-align: left;
  }

  a {
    color: inherit;
  }
}

.organized-by {
  align-items: center;
  color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: @large-phone) {
    flex-direction: row;
  }

  li {
    background: center center no-repeat;
    background-size: contain;
    margin: 1rem;
    max-width: 100%;
  }

  .fight-for-the-future {
    background-image: url('/images/fight-for-the-future.png');
    height: 3.3rem;
    width: 25.6rem;

    @media screen and (min-width: @small-phone) {
      height: 4.4rem;
      width: 34.2rem;
    }
  }

  .firebrand-records {
    background-image: url('/images/firebrand-records.png');
    height: 16rem;
    width: 16rem;
  }
}

.org-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  background-color: @white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 90% auto;
  border-radius: 4px;
  color: transparent;
  height: 8rem;
  margin: 2rem;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 20rem;
}

.tumblr {
  background-image: url('/images/endorsements/tumblr.png');
}
