* {
  box-sizing: border-box
}

html, body {
  font-size: 62.5%;
}

body {
  background-image: url('/images/bg-body.jpg');
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-size: 100% auto;
  border-top: 3px solid @red-800;
  color: @white;
  font-size: 1.6rem;
  font-family: @body-font;
  position: relative;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 0.75em;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

a {
  color: @white;
  text-decoration: underline;
}

em {
  font-style: italic;
}

img {
  height: auto;
  max-width: 100%;
}

p {
  margin: 0 auto 1.25em;
  max-width: 70ch;
}

small {
  font-size: 75%;
}

strong {
  font-family: @heading-font-bold;
}

.visually-hidden {
  color: transparent;
  height: 0;
  position: absolute;
  visibility: hidden;
}

.hidden {
  display: none;
}
