main {
  color: @white;
  padding: 5rem 2rem 0;
  text-align: center;

  @media screen and (min-width: @small-phone) {
    padding: 5.5rem 2rem 0;
  }

  @media screen and (min-width: @large-phone) {
    padding: 6rem 2.5rem 0;
  }

  @media screen and (min-width: @small-tablet) {
    padding: 7rem 3rem 0;
  }

  @media screen and (min-width: @large-tablet) {
    padding: 8rem 3.5rem 0;
  }

  @media screen and (min-width: @small-desktop) {
    padding: 9rem 4rem 0;
  }

  section {
    margin: 0 auto 4rem;
    max-width: @large-tablet + 80px;

    @media screen and (min-width: @large-phone) {
      margin-bottom: 5rem;
    }
  }

  p {
    &:first-child {
      font-weight: 100;
    }
  }
}
