<!doctype html>
<html>
<head>
  {% include meta.html %}
</head>
<body>
{% capture share_url %}{{ site.url }}{{ page.url }}{% endcapture %}

<header{% unless page.page == 'home' %} class="subpage"{% endunless %}>
  {% if page.page == 'home' %}
  <h1>Rock Against <span>the TPP</span></h1>
  {% else %}
  <h1><a href="/">Rock Against the TPP</a></h1>
  {% endif %}

  {{ page.header_content | default: '' | markdownify }}

  {% if page.layout == 'event' %}
    <section>
      {% include form.html action='https://actionnetwork.org/petitions/rock-against-the-tpp-tour-kick-off/signatures' %}
      <p class="disclaimer no-pad">
        You are signing <a href="https://actionnetwork.org/petitions/rock-against-the-tpp-tour-kick-off">this petition</a> telling Congress to stop the TPP.
        <a href="https://www.fightforthefuture.org">Fight for the Future</a> will send you campaign updates.
        Ticket is required for entry but does not guarantee it. First come first serve. We suggest arriving early in case the event sells out, and to join us for a rally to stop the TPP!
        <a href="https://www.fightforthefuture.org/privacy">Privacy Policy</a>
      </p>
    </section>
  {% endif %}
</header>

<nav>
  <ul>
    <li><a href="/#schedule">Schedule</a></li>
    <li><a href="/#lineup">Line up</a></li>
    <li><a href="/#learn-more">Learn more</a></li>
    <li><a class="donate" href="https://donate.fightforthefuture.org/campaigns/rock-against-tpp/">Donate</a></li>
  </ul>
</nav>

<main>
  {{ content }}
</main>

<section>
  <h2 id="organized-by">Rock Against the TPP is organized by:</h2>

  <ul class="organized-by">
    <li class="fight-for-the-future">Fight for the Future</li>
    <li class="firebrand-records">Firebrand Records</li>
  </ul>
</section>

<section>
  <h2 id="support-orgs">
    The Following organizations are supporting Rock Against the TPP:
  </h2>

  <ul class="org-logos">
    {% for org in site.data.affiliated_orgs.support %}
    <li class="logo {{ org | slugify }}">
      {{ org }}
      <img src="/images/endorsements/{{ org | slugify }}.png" alt="{{ org }}">
    </li>
    {% endfor %}
  </ul>
</section>

<section>
  <p>
    Full list of endorsing organizations coming soon.
    <a href="mailto:team@fightforthefuture.org">Email us</a> to get involved in
    Rock Against the TPP!
  </p>
</section>

{% include footer.html %}

<div class="share-this">
  <p><a id="share-button" href="https://facebook.com/sharer.php?u={{ page.share_url | default: share_url | cgi_escape }}" class="facebook">Share</a></p>
  <p><a id="tweet-button" href="https://twitter.com/intent/tweet?text={{ page.twittertext | default: site.tweet | cgi_escape }}" class="twitter">Tweet</a></p>
</div>

{% include scripts.html %}

</body>
</html>
