<!doctype html>
<html>
<head>
  {% include meta.html %}
</head>
<body>

<header>
  <h1{% unless include.page == 'home' %} class="subpage"{% endunless %}>
    Rock Against
    <span>
      the TPP
    </span>
  </h1>

  <p>
    A nationwide tour to stop the biggest corporate power grab in history: the
    Trans-Pacific Partnership. Organized by Fight for the Future and Rage
    Against the Machine guitarist Tom Morello’s new label, Firebrand Records.
  </p>
</header>

<nav>
  {% capture navigation %}{% include navigation.md %}{% endcapture %}
  {{ navigation | markdownify }}
</nav>

<main>
  {{ content }}
</main>

{% include footer.html %}
{% include scripts.html %}

</body>
</html>
