<!doctype html>
<html>
<head>
  {% include meta.html %}
</head>
<body>

<header{% unless page.page == 'home' %} class="subpage"{% endunless %}>
  <h1>
    Rock Against
    <span>
      the TPP
    </span>
  </h1>

  <p>
    A nationwide uprising and concert tour to stop the biggest corporate power
    grab in history: the Trans-Pacific Partnership. Organized by Fight for the
    Future, Rage Against the Machine guitarist Tom Morello, and his new label,
    Firebrand Records.
  </p>
</header>

<nav>
  <ul>
    <li><a href="/#schedule">Schedule</a></li>
    <li><a href="/#lineup">Line up</a></li>
    <li><a href="#">Learn more</a></li>
    <li><a href="#">Donate</a></li>
  </ul>
</nav>

<main>
  {{ content }}
</main>

{% include footer.html %}
{% include scripts.html %}

</body>
</html>
