.header-p() {
  color: @white;
  font-size: 2.3rem;
  line-height: 1.4;
  max-width: 80ch;
  padding: 0 1rem;
  text-shadow: 1px 0.5rem 1rem @black;
}

body > header {
  background: 50% url('/images/bg-header.jpg') no-repeat;
  background-size: cover;
  box-shadow: 0 0 4rem black;
  padding: 3rem 0 1rem;
  position: relative;
  text-align: center;

  @media screen and (min-width: @large-phone) {
    padding-top: 4rem;
  }

  a {
    color: @white;
    text-decoration: none;
  }

  h2 {
    color: @white;
    line-height: 1.2em;
  }

  p {
    .header-p();

    strong {
      font-family: @strong-font;
    }

    &.no-pad {
      padding-bottom: 0;
    }

    &.disclaimer {
      .disclaimer();
    }
  }

  section {
    margin: 2.5rem auto;
    max-width: @large-tablet + 80px;
    padding: 0 1rem;
  }
}

h1 {
  color: @white;
  font-family: @heading-font-bold;
  font-size: 11.75vw;
  font-weight: 900;
  text-shadow: 1px 5px 10px @black;
  letter-spacing: -3px;
  line-height: 0.75;
  margin: 2rem 0 0;
  padding: 4rem 1rem 2rem;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: @small-tablet) {
    font-size: 9.8rem;
    letter-spacing: -6px;
    margin-bottom: 3rem;
    text-align: center;
  }

  @media screen and (min-width: @small-phone) {
    font-size: 7.5vw;
  }

  @media screen and (min-width: @large-tablet) {
    font-size: 7.7rem;
  }
}

